.logout {
  position: absolute !important;
  right: 0;
}

.login-container {
  display: flex;
  position: absolute;
  right: 0;
}

.logout-container {
  display: flex;
  position: absolute;
  right: 0;
}